<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add courses</title>
<link rel="stylesheet" href="/../../style/style.css">
<script src="/../../style/jquery-3.1.1.js"></script>
<link rel="stylesheet"
	href="/../../style/bootstrap/css/bootstrap.min.css">
<script src="/../../style/bootstrap/js/bootstrap.min.js"></script>
<script src="/../../style/angular.min.js"></script>
<script src="/../../resources/ckeditor/ckeditor.js"></script>
<script src = "/../../js/sanitize.js"></script>
<script src="/../../js/global.js"></script>

</head>
<body ng-app="app" ng-controller="addCourses">


	<div nav-bar page="about" member="member"></div>


	<div class="container" >

		<h1>Contenu de l'exercice </h1>

		<form  name="addExerciseForm">
			<div class="form-group" >
				<label for="Subject">Subject</label> <input type="text"
					class="form-control" id="Subject" placeholder="Subject" ng-model="exo.title " pattern=".{4,}"
                                                            required>
			</div>
            
            <div class="form-group" >
				<label for="Subject">language</label> 
                <select ng-model = "exo.language" class = "form-control"  >
                    <option value = "c">
                        c
                    </option>
                    <option value = "cpp">
                        cpp
                    </option>
       
                    <option value = "python">
                        python
                    </option>
                </select>
			</div>

			<textarea name="editor1" id="subject" rows="10" cols="10" >
				this is my text area
			</textarea>
			<script type="text/javascript">
				CKEDITOR.replace('editor1');
			</script>
			<br />

			<input type="submit" class="btn btn-primary center-block" value="Save" ng-click="addLesson()" />
		</form>
		

		<hr>
		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Learn 2017</p>
				</div>
			</div>
		</footer>
	</div>
    <div id="confirmationModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">erreur</h4>
					</div>
					<div class="modal-body">
						<p>
							l'exercice n'a pas pu etre ajouté, veulleiz respecter les contraintes suivantes: <br>
								la titre doit contenire au moins 4 caracteres<br>
								la lesson doit etre plus longue
						
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
					</div>
				</div>

			</div>
		</div>
    <script type="text/javascript">
			app.controller("addCourses", function($scope, $http, $location) {
				
				idE = $location.search().idExo
				idL = $location.search().idLesson
                if(idE == undefined || idL == undefined) 
                    {
                        window.location = "/"
                    }
				
				$scope.exo = {}
				$scope.addLesson = function() {
					console.log($scope.addExerciseForm)
					
					var data = CKEDITOR.instances.subject.getData();
					$scope.exo.subject = data
                    
                    if(!$scope.addExerciseForm.$valid  || data.length < 11)
                        {
                            $("#confirmationModal").modal("show");
                            return;
                        }
					
					$http.put("/resources/courses/1/lessons/1/exercises/"+idE, $scope.exo)
					.then(function(data) {
						window.location = "/services/lessons/lesson.html/#!/?idLesson="+idL;
						console.log("ajouter avec succes -->", data.data);
					});
				}
                
                $http.get("/resources/courses/1/lessons/1/exercises/"+idE)
                    .then(function(result){
                    $scope.exo.subject = result.data.subject;
                    $scope.exo.title = result.data.title;
                    $scope.exo.language = result.data.language;
                    CKEDITOR.instances.subject.setData(result.data.subject)
                    
                })
				
			});
		</script>
</body>
</html>